---
layout: application
title: TicTacToe
---
<h1>TIC<span class="blue">TAC</span>TOE</h1>

<h2 class="notice"></h2>

<table data-tictactoe>
  <tr>
    <td data-row='0' data-col='0'></td>
    <td data-row='0' data-col='1'></td>
    <td data-row='0' data-col='2'></td>
  </tr>
  <tr>
    <td data-row='1' data-col='0'></td>
    <td data-row='1' data-col='1'></td>
    <td data-row='1' data-col='2'></td>
  </tr>
  <tr>
    <td data-row='2' data-col='0'></td>
    <td data-row='2' data-col='1'></td>
    <td data-row='2' data-col='2'></td>
  </tr>
</table>


